body{

    background-image: url('images/begin-scherm.png');
    background-size: cover;         
    background-repeat: no-repeat;    
    height: 900px;
}


#startknop{
    font-size: 2rem;
    font-family: "Cherry Bomb One", system-ui;
}


/*startknop*/
.footer{
    position:absolute;
    bottom: 0;
    width: 100%;
    margin-bottom:100px;

    
}

.container{
    display:flex;
    justify-content: center;
    align-items: center;
    text-align: center;
 
}



#startknop{
    background-color: rgb(123, 78, 56);
    padding: 3rem 8rem 3rem 8rem;
    border-radius: 10rem;
    color: white;


}


body.level2{
    background-image: url('images/achtergrond-voor-app.png');
}

/*
.hongertekst{
    position: absolute;
    top: 65%; 
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    font-size: 2em

 
}
/*

/* pagina2*/
.girafcontainer {
    display: flex;
    justify-content: center;  
    align-items: center;       
    height: 100vh;             
  }




#giraf{
    height: 700px;
    align-items: center;
    visibility:hidden;
    bottom: 20px;

}



/*pagina 2 eten*/


/*fixe de px in rem*/
.eten-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center; 
    margin-bottom: 100px;
    position: relative;
    bottom: 160px;

    
}

.blad{
    height: 140px;
    visibility:collapse;
    margin-right: 12rem;
    bottom: 0;
    
}

.bes{
    height: 140px;
    visibility: hidden;
    bottom: 0;
}

.plant{
    height: 140px;
    visibility:hidden;
    margin-left: 12rem;
    bottom:0;
    
        }


.procesbar progress {
    width: 1500px;
    height: 50px;
    border: 2px solid #3d32ba;
    border-radius: 2rem;
    visibility: hidden;
  
    

}


progress::-webkit-progress-bar{
    background-color: white;
    border-radius: 2rem;

}

progress::-webkit-progress-value {
    background-color: rgb(13, 0, 128); /* voortgangskleur */
    border-radius: 1rem;
  }




.procesbar{
  width: 100%;
  display: flex;
  justify-content:space-around;
  position: fixed; 
  top: 0;
  margin-top: 4rem;



}